@page
@model LocadoraVeiculos.Models.Cliente

<h2>Detalhes do Cliente</h2>

<div>
    <h4>Id: @Model.Id</h4>
    <h4>Nome: @Model.Nome</h4>
    <h4>Idade: @Model.Idade</h4>
    <h4>Endereço: @Model.Endereco</h4>
</div>
<p>
    <a asp-action="Index">Voltar para Lista</a>
</p>

